 <div class="a">
 <nav class="navbar navbar-expand-lg fixed-top navbar-scroll shadow-0" style="background-color: #ffede7;">
  <div class="container">
    <a class="navbar-brand" href="#" style="font-family:'Times New Roman', Times, serif;"><h1>EAT OUT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </h1></a>
    <button class="navbar-toggler ps-0" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
      aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="d-flex justify-content-start align-items-center">
        <i class="fas fa-bars"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarExample01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link px-3" href="#!"><h3>Home</h3>&nbsp;&nbsp;&nbsp;</a>
        </li>
        
        <li class="nav-item active">


          
          <a class="nav-link px-3" routerLink="about"><h3>our story</h3>&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="order"><h3>book a table</h3>&nbsp;&nbsp;&nbsp;</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link px-3" routerLink="login"><h3>login</h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="contact"><h3>contact</h3></a>
        </li>
      </ul>

      
    </div>
  </div>
</nav>
</div> 







